.container {
  @include container_wrapper;
  display: flex;
  justify-content: space-between;
  position: relative;

  .wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 200px fit-content(700px) 1fr;
    grid-template-rows: 1fr;
    column-gap: 15px;
    border-left: 2px solid #511b13;
    border-bottom: 2px solid #511b13;
    box-shadow: -10px 10px 12px rgba(0,0,0,.15);
    

    @media screen and (max-width: $screen-l) {
      grid-template-columns: 190px fit-content(550px) 1fr;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
      grid-template-rows: max-content auto;
      column-gap: 0;
      border-left: none;
      box-shadow: 0px 11px 7px -6px rgba(0,0,0,.15);
    }
  }

  .info {
    &_phone {
      color: $blackText;
      font-weight: 700;
      border-bottom: 2px solid #511b13;
      white-space: nowrap;
    }
    &__text {
      @include p1;
      font-weight: 500;
      width: 100%;

      &:first-child {
        margin-top: 20px;
        margin-bottom: 15px;
        @media screen and (max-width: $screen-l) {
          margin-bottom: 15px;
        }
        @media screen and (max-width: 600px) {
          margin-top: 0;
          margin-bottom: 15px;
        }
      }
      &:nth-child(2) {
        margin-bottom: 15px;
        @media screen and (max-width: $screen-l) {
          margin-bottom: 10px;
        }
        @media screen and (max-width: 600px) {
          margin-bottom: 15px;
        }
      }
      &:nth-child(3) {
        margin-bottom: 15px;
        @media screen and (max-width: $screen-l) {
          margin-bottom: 10px;
        }
        @media screen and (max-width: 600px) {
          margin-bottom: 15px;
        }
      }
      &:last-child {
        margin-bottom: 10px;
        @media screen and (max-width: $screen-l) {
          margin-bottom: 20px;
        }
        @media screen and (max-width: 1000px) {
          margin-bottom: 140px;
        }
        @media screen and (max-width: 600px) {
          margin-bottom: 0;
        }
      }
      
      @media screen and (max-width: $screen-s) {
        padding-right: 0;
      }
    }
    &__subtitle {
      @include h3;
      font-weight: 600;
      max-width: 655px;
      width: 100%;
      &_gradient {
        font-weight: 700;
        background: linear-gradient(96.05deg, #d63124 7.49%, #f4cb09 14.34%, #65ba60 32.41%, #137e5c 40.41%, #2c4c8a 63.41%, #534587 74.41%, #9f375d 86.41%, #da222c 93.41%);
        background-clip: text;
        color: transparent;
      }

      @media screen and (max-width: $screen-l) {
        font-size: 28px;
        line-height: 32px;
      }

      @media screen and (max-width: 860px) {
        position: absolute;
        bottom: -40px;
        left: 40px;
        max-width: 755px;
      }

      @media screen and (max-width: $screen-s) {
        position: static;
        max-width: 600px;
        font-size: 22px;
        line-height: 28px;
      }
      @media screen and (max-width: $screen-xs) {
        font-size: 19px;
        line-height: 24px;
      }
    }
  }

  .image {
    &_left {
      @media screen and (max-width: 600px) {
        display: none;
      }
      &-picture {
        height: 100%;
      }
    }
    &_right {
      position: relative;
      &-picture {
        width: 380px;
        position: absolute;
        bottom: -13px;
        right: 0;
        @media screen and (max-width: 600px) {
          display: flex;
          justify-content: center;
          position: relative;
          bottom: -11px;
          right: auto;
          width: 100%;
        }
      }
    }

    &-title {
      @media screen and (max-width: $screen-l) {
        width: 330px;
      }
      @media screen and (max-width: $screen-s) {
        width: 280px;
      }
    }
  }
}
