$backgroundBlack: #0a0c14;
$backgroundWhite: #f5f4fd;
$backgroundGragient: linear-gradient(182.94deg, #0a0c14 24.4%, #284bff 89.24%, #0094ff 97.23%);
$backgroundGragient1: linear-gradient(
	96.59deg,
	rgba(255, 255, 255, 0.16) 0%,
	rgba(255, 255, 255, 0.04) 76.18%,
	rgba(255, 255, 255, 0.02) 100%
);
$backgroundGragient2: linear-gradient(182.94deg, #0a0c14 24.4%, #284bff 89.24%, #0094ff 97.23%);

$white: #ffffff;
$black: #1d1d1e;
$blue: #0055ff;
$grayDark: #59596d;
$grayMedium: #dfdfea;
$orange: #ff8329;
$gray: #9696a3;
$purple: #c76bff;

$whiteText: #ffffff;
$blackText: #1d1d1e;
$turquoiseText: #1af1ff;
$greenLightText: #0ff996;
$orangeText: #ff8329;
$blueText: #0055ff;
$purpleText: #4b26e3;
$redText: #e80e5d;
$grayLightText: #cccacd;
$grayMediumText: #dfdfea;
$grayDarkText: #59596d;
$yellowText: #ffe713;
$blueGradientText: linear-gradient(96.05deg, #00f0ff 0.94%, #5d43ff 97.56%);

$link_alternative: #5a8bcd;
$secondary: #5a8ccd;
$link_alternative: #5a8bcd;
$dropdown_default: #1d2431;
$error: #ef4829;
$input_error: #e80e5d;
$success: #4aad02;
