.snowPresent {
  margin-bottom: 80px;
  display: flex;
  gap: 20px;

  @media screen and (max-width: $screen-l) {
    flex-direction: column;
  }

  @media screen and (max-width: $screen-s) {
    @include container_wrapper;
    align-items: center;
  }


  &_img {
    width: 550px;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
}