.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(29, 29, 30, 0.88);
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
  &.active {
    display: flex;
  }
}

.main-block {
  position: relative;
  max-width: 1030px;
  width: 95%;
  height: 85%;

  .close {
    position: absolute;
    top: -40px;
    right: 10px;
    cursor: pointer;
    opacity: 0.9;
    .img {
      width: 30px;
      height: 30px;
    }
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px;

  display: flex;
  flex-direction: column;
  background: $backgroundWhite;
  border-radius: 18px;
  overflow: scroll;

  @media screen and (max-width: $screen-s) {
    padding: 20px;
  }

  .title {
    @include h2;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    color: #511b13;

    @media screen and (max-width: $screen-l) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: $screen-s) {
      font-size: 30px;
      line-height: 28px;
    }
  }

  .wrap {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $screen-l) {
      flex-direction: column-reverse;
    }
  }

  .form {
    width: 100%;

    @media screen and (max-width: $screen-l) {
      margin-top: 20px;
      max-width: none;
    }

    .phone-wrap {
      position: relative;
    }

    .button {
      cursor: pointer;
      background: #ffffff;
      border: none;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      width: 200px;
      height: 40px;

      @include p1;
      color: #511b13;
      font-weight: 600;

      @media screen and (max-width: $screen-s) {
        font-weight: 500;
      }
    }
  }

  .image {
    &-wrap {
      margin-right: 50px;
      width: 450px;
      position: sticky;
      top: calc((100vh - 100%) / 2);
      height: 405px;

      @media screen and (max-width: $screen-l) {
        margin-right: 0;
        margin-bottom: 20px;
        margin: 0 auto;
        width: 350px;
        position: static;
        top: auto;
        height: auto;
      }

      @media screen and (max-width: $screen-s) {
        width: 250px;
      }
    }
  }

  .line {
    margin: 10px 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, rgba(#511b13, 0) 0%, #511b13 100%);
  }

  .dataTime {
    display: flex;
    column-gap: 40px;

    .line {
      display: none;
    }

    @media screen and (max-width: $screen-s) {
      flex-direction: column;
      column-gap: unset;

      .line {
        display: block;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(29, 29, 30, 0.88);
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
  &-active {
    display: flex;
  }

  &-wrap {
    background: white;
    padding: 20px 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: $screen-s) {
      max-width: 375px;
      width: 90%;
      padding: 15px;
    }
  }

  &__title {
    @include h3;
    font-weight: 600;
    margin-bottom: 20px;
    @media screen and (max-width: $screen-s) {
      font-size: 26px;
      text-align: center;
      line-height: 28px;
    }
  }

  &__btn {
    border-radius: 8px;
    width: 200px;
    height: 40px;
    background: #ffffff;
    border: 2px solid #aaa7a6;
    @include p1;
    color: $blackText;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    @media screen and (max-width: $screen-s) {
      font-weight: 600;
    }
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  .img {
    width: 30px;
    height: 30px;
  }
}
