.date-list {
  border: none;
}

.input {
  &_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    @media screen and (max-width: $screen-s) {
      margin-bottom: 10px;
    }

    .group {
      display: flex;
      column-gap: 20px;
      @media screen and (max-width: $screen-s) {
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 40px;
      }
      &__item {
        &_check {
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          font-weight: 400;
          white-space: nowrap;
          @media screen and (max-width: $screen-l) {
            justify-content: flex-start;
            align-items: center;
          }
        }
      }
      &__input {
        display: none;
        &_main {
          margin-left: 10px;
          width: 30px;
          height: 30px;
          border: 1px solid #511b13;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          .checked_img {
            opacity: 0;
          }
          @media screen and (max-width: $screen-l) {
            margin-left: 5px;
          }
        }
        &[type="radio"]:checked + .group__input_main .checked_img {
          opacity: 1;
        }
      }
    }
  }
  &_title {
    @include p2;
    font-weight: 600;
    margin-bottom: 5px;
    color: #511b13;
    @media screen and (max-width: $screen-s) {
      font-weight: 500;
    }

    &-necessarily {
      color: $error;
    }
  }
}